<ion-view view-title="Nuevo Desafio" class="pagina" >
  <ion-content>
  <center>
    <div class="item">
      <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Ingrese desafio:</strong></label><br>
          <textarea ng-model="desafio.pregunta" style="width: 100%; text-align: center">
          </textarea>
        </div>
      </div>   
      <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Ingrese valor de la apuesta:</strong></label><br>
          <div class="item range">
            <p><strong>10</strong></p>
            <input type="range" min="10" max="100" value="50" step="10" ng-model="desafio.valor" name="valor">
            <p><strong>100</strong></p>
          </div>
          <br/>
          <p><strong>{{desafio.valor}}</strong></p>
        </div>
      </div>      
      <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Seleccione la vigencia del desafio:</strong></label><br>
          <div style="width: 100%">
            <label>Dias:</label>
            <select ng-model="tiempo.dias" ng-options="item for item in arrayDias">
            </select>
            <label>Horas:</label>
            <select ng-model="tiempo.horas" ng-options="item for item in arrayHoras">
            </select>
            <label>Min:</label>
            <select ng-model="tiempo.minutos" ng-options="item for item in arrayMinutos">
            </select>
            <label>Seg:</label>
            <select ng-model="tiempo.segundos" ng-options="item for item in arraySegundos">
            </select>
          </div>
        </div>
      </div>
      <br>
      
      <button class="button button-large button-outline button-balanced" ng-click="Aceptar()">
        Crear
      </button>

    </div>
	</center>
  </ion-content>
</ion-view>
