<ion-view class="login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
  
    <form name="formLogin" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="yo@gmail.com" name="username" ng-model="loginData.username" required>
          <div style="color: red" ng-show="formLogin.username.$invalid && formLogin.username.$touched">
            <i class="ion-android-warning"></i> Email requerido
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="miClaveSECRETA" name="password" ng-model="loginData.password" required>
          <div style="color: red" ng-show="formLogin.password.$invalid && formLogin.password.$touched">
            <i class="ion-android-warning"></i> Password requerido
          </div>
        </label>
      </div>
      <center>
      <div class="padding">
        <button class="button button-positive" ng-click="Loguear()" ng-disabled="formLogin.$invalid"><ion-icon class="ion-log-in"> Entrar con Email y Password</button>
      </div>
      <div class="padding">
        <button class="button button-balanced" ng-click="Resetear()" ng-disabled="formLogin.$invalid"><ion-icon class="ion-help-circled"> Resetear password
        </button>
      </div>   
      </center>

    </form>
    <br>
    <center>
    <label class="item item-input item-stacked-label">
    <div class="padding">
      <button class="button button-royal" ng-click="Crear()"><ion-icon class="ion-plus-circled">
        Crear nueva cuenta
      </button>
    </div>
    </label>
    </center>
  </ion-refresher>

  </ion-content>

</ion-view>

