<ion-view class="login">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
  
    <form name="formLogin" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="yo@gmail.com" name="username" ng-model="loginData.username" required>
          <div style="color: red" ng-show="formLogin.username.$invalid && formLogin.username.$touched">
            <i class="ion-android-warning"></i> Email requerido
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="miClaveSECRETA" name="password" ng-model="loginData.password" required>
          <div style="color: red" ng-show="formLogin.password.$invalid && formLogin.password.$touched">
            <i class="ion-android-warning"></i> Password requerido
          </div>
        </label>
      </div>
    </form>

    <br>
    <center>
      <button class="button button-positive" ng-click="Loguear()" ng-disabled="formLogin.$invalid" style="width: 300px"><ion-icon class="ion-log-in"> Entrar con Email y Password</button>
      <br><br>
      <button class="button button-balanced" ng-click="Resetear()" ng-disabled="formLogin.$invalid" style="width: 300px"><ion-icon class="ion-help-circled"> Resetear password </button>
      <br><br>
      <button class="button button-royal" ng-click="Crear()" style="width: 300px"><ion-icon class="ion-plus-circled"> Crear nueva cuenta</button>
    </center>
  </ion-content>
</ion-view>