<ion-view view-title="{{titulo}}" class="pagina">
  <ion-content>
  <center>

      <ion-list ng-if="todos">
        <div ng-repeat="desafio in datos" >
            <div ng-show="desafio.disponible">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
                  <div class='wrap'>
                    <div class='time-to'>
                      Finaliza en... {{desafio.fechaFin | date:'medium'}}
                      <span countdown='' date='{{desafio.fechaFin | date: "medium"}}'>&nbsp;</span>
                    </div>
                  </div>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

       <ion-list ng-if="mostrar">
        <div ng-repeat="desafio in datos">
            <div ng-if="desafio.creador == email">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

       <ion-list ng-if="aceptados">
        <div ng-repeat="desafio in datos">
            <div ng-if="desafio.jugador == email">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

  </center>
  </ion-content>
</ion-view>
