<ion-view view-title="{{titulo}}" class="pagina" >
  <ion-content>
  <center>

      <ion-list ng-show="todos">
        <div ng-repeat="desafio in datos">
            <div ng-show="desafio.disponible && desafio.creador != email">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
                  Finaliza en:
                  <timer countdown="(desafio.fechaFin - DateNow) / 1000" interval="1000" finish-callback="Terminado(desafio)">{{days}} day{{daysS}}, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

       <ion-list ng-show="mostrar">
        <div ng-repeat="desafio in datos">
            <div ng-if="desafio.creador == email">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
                  Finaliza en:
                  <timer countdown="(desafio.fechaFin - DateNow) / 1000" interval="1000" finish-callback="Terminado(desafio)">{{days}} días, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos</timer>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

       <ion-list ng-show="aceptados">
        <div ng-repeat="desafio in datos">
            <div ng-if="desafio.jugador == email">
              <br>
              <ion-item ng-click="mostrarDesafio($index)">
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3><br>
                  Finaliza en:
                  <timer countdown="(desafio.fechaFin - DateNow) / 1000" interval="1000" finish-callback="Terminado(desafio)">{{days}} días, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos</timer>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>

  </center>
  </ion-content>
</ion-view>
