<ion-view view-title="Apuesta por {{batalla.valor | currency}}" class="pagina">
  <ion-content>
    <center>
      <div class="item">

        <div class="card">
          <div class="item item-text-wrap">
            <ion-item  ng-model="batalla.pregunta" ><label>{{batalla.pregunta}}</label>
            </ion-item>
          </div>
        </div>  

        <div class="card">
          <div class="item item-text-wrap">
            <ion-item>
              <label>Tu credito disponible es: {{credito | currency}}</label>
            </ion-item>
          </div>
        </div>

        <div ng-if="batalla.creador != userID">
          <button class="button button-large button-outline button-balanced" ng-click="AceptarBatalla()">
            Aceptar Batalla
          </button>
        </div>

        <div ng-if="batalla.creador == userID">
          <button class="button button-large button-outline button-balanced" ng-click="FinalizarBatalla(true)">
            Gané
          </button>
          <button class="button button-large button-outline button-balanced" ng-click="FinalizarBatalla(false)">
            Perdí
          </button>
        </div>

    </div>
	</center>
  </ion-content>
</ion-view>
