<ion-view view-title="{{titulo}}" class="pagina" >
  <ion-content>
      <ion-list>
        <div ng-repeat="usuario in usuarios">
            <div ng-show="usuario.$id != userID && usuario.online">
              <br>
              <ion-item class="item-thumbnail-left" ng-click="desafiar(usuario)" >
                  <img ng-src="img/{{imagen.foto}}" style="width: 50px; height: 50px;" />
                  <h2>{{usuario.nombre}}</h2>
                  <br>
                  <p>{{usuario.credito | currency}}</p>
              </ion-item>
            </div>
        </div>
        
       </ion-list>
  </ion-content>
</ion-view>
