<ion-view class="pagina" >
  <ion-content>
  <center>
  <br><br>
    <div class="item" style="width:75%">
      <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Ingrese cantidad de creditos:</strong></label><br>
          <input type="number" ng-model="cantidad.valor" style="width: 100%; text-align: center">
          </textarea>
        </div>
      </div>           
      <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Ingrese valor de los creditos:</strong></label><br>
          <input type="number" ng-model="credito.valor" style="width: 100%; text-align: center">
        </div>
      </div>
      <br/>      
    
      <button class="button button-large button-outline button-balanced" ng-click="Aceptar()">
        Aceptar
      </button>

    </div>
	</center>
  </ion-content>
</ion-view>
