<ion-view class="pagina">
  <ion-content>
  <br/>
    <div class="col header text-center">
		<img ng-src="img/{{imagen.foto}}"/>
  	</div>
    <br/>

    <div style="padding-left: 25px;padding-right: 25px">
    <div class="col">
      <div class="list">
        
          <label class="item item-input item-stacked-label" style="color: darkblue; font-size: 20; font-style: bold;">
            <span class="input-label"> <strong>&nbsp;Nombre: {{usuario.nombre}} </strong></span><button style="width:25%;float:left;" class="button button-small button-positive" ng-click="Cambiar()">Cambiar</button>
          </label>   
          <label class="item item-input item-stacked-label" style="color: darkblue; font-size: 20; font-style: bold;">
            <span class="input-label"> <strong>&nbsp;Saldo: {{usuario.credito | currency}} </strong></span><button style="width:25%;float:left;" class="button button-small button-positive" ng-click="Cargar()">Cargar</button>
          </label>     
        
      </div>
    </div>
    </div>

  </ion-content>
</ion-view>