/* Empty. Add your own CSS if you like */
.ng-hide-add         { animation:0.5s fadeOutUp ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s fadeInDown ease; }


.login {
    background-color: #F5DA81;
}

.pagina{
	background-color: #F2F5A9;
}

.autor{
    background-color: #F5A9D0;
}

.side{
	background-color: #BEF781;
}

h2{
        color:darkblue;
        text-align: center;
}

h4{
        text-align: center;
}

p{
        color:darkblue;
        text-align: center;
        font-size: 16px;
}

ion-icon{
    color:black;
    font-size: 20px;
}

@import "//fonts.googleapis.com/css?family=Bangers";

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: black;
}

.time-to {
  text-align: center;
  font-family: Bangers;
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
}
.time-to span {
  display: block;
  font-size: 80px;
  color: red;
}